<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/asset/weather.png">
    <link rel="stylesheet" href="./style/style.css">
    <script src="./js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./asset/linux.png">
    </div>

    {{>footer}}
</body>

</html>